@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.background-image {
  position: relative;
  background-image: url("./images/1305008.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(140vh - 70px);
  display: flex;
  align-items: start;
  justify-content: center;
}

/* Semi-transparent overlay */
.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar {
  background-color: rgb(44, 44, 44);
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  z-index: 10;
  position: relative;
}
.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 10px;
}

.navbar a {
  color: rgb(229, 229, 229);
  padding: 15px;
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  font-weight: 500;
}

.navbar a:hover {
  background-color: rgb(100, 100, 100);
  border-radius: 4px;
  transition: 0.3s;
}

.navbar button {
  background-color: rgb(27, 27, 27);
  padding: 10px 14px;
  width: 100px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}

.navbar button:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}

.navbar img {
  width: 150px;
  padding: 0px;
  margin-left: 16px;
  border-radius: 25px;
}
.content {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.download-game {
  position: relative;
  z-index: 2;
  border-radius: 14px;
  width: 600px;
  color: white;
}

.download-game h1 {
  font-size: 35px;
  margin: 0 auto 40px auto;
  width: auto;
  text-align: center;
}

.download-game p {
  font-size: 18px;
  margin-bottom: 40px;
}

.download-game button {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.965);
  border: none;
  padding: 20px 60px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.download-game button:hover {
  background-color: rgba(234, 9, 9, 0.8);
  transition: 0.3s;
}

.video {
  display: block;
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 160px;
}

.rise_logo {
  position: absolute;
  top: 30px;
  left: 1060px;
  width: 150px; /* Adjust size as needed */
  z-index: 3;
}

.colored-text {
  color: rgba(215, 160, 82, 0.978);
}
